html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-width: 100%; */
  --form-shadow: 0 10px 25px rgba(22, 25, 32, 0.6);
  --form-padding: 20px 40px;
  --btn-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --main-color: #6a93cb;
  --err-message-color: red;
  --main-font: "Oswald", sans-serif;
  /* overflow: hidden; */
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

html {
    width: 100%;
    background-color: #ffffff;
}

h1 {
    font-size: 34pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 18pt;
}

h4 {
  font-size: 14pt;
}

.mat-form-field-flex {
  background-color: #ffffff !important;
}


