<div class='home'>
<div class="pic-ctn">
  <img src="/assets/img/logo/images.jpeg" alt="" class="pic">
  <img src="/assets/img/logo/images (4).jpeg" alt="" class="pic">
  <img src="/assets/img/logo/images.png" alt="" class="pic">
  <img src="/assets/img/logo/téléchargement (3).jpeg" alt="" class="pic">
  <img src="/assets/img/logo/images (1).jpeg" alt="" class="pic">
</div>

<div>
  <button style="background-color:'blue'; margin-top:10px;color:white;border-radius:10px;font-size:2em" > <a style="text-decoration:none;color:white"routerLink="/login">Start here !!</a></button>
</div>
</div>
